/* PC */
@media (min-width: 64em) {
    
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    
}

/* Mobile */
@media (max-width: 46.1875em) {
    .s-ful-width,
    .col-half,
    .col-third{
        width: 100%;
    }
    #header {
        overflow: hidden;
    }
    #header.show{
        /* overflow: visible; */
        height: auto;
    }
    #nav {
        display: block;
    }
    #nav .subnav{
        position: initial;
        background-color: rgb(36, 36, 36);
    }
    
    #nav > li{
        display: block;
    }
    #nav .subnav a {
        color: #fff;
        padding: 8px 42px;
    }
    #nav .subnav a:hover {
        color:#000;
    }
    .search-btn {
        display: none;
    }
    .mobile-menu-btn{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .contact-info {
        padding-bottom: 16px;
    }
    .modal {
        /* top: -100px; */
    }
    .modal .modal-content{
        margin: 0 10px;
    }
        
    
}